.mat-tab-group {
    margin-bottom: 48px;
}

.container{
    margin-top: 30px;
    margin-left: 1em;
}

.content{
    padding-left: 20px;
}

.data{
    display:flex;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

form{
    display: flex;
    align-items: center;

}

.apikey-input, button, .email-label, .name-label, .total, .mat-form-field, mat-spinner{
    margin-left: 15px;
}

h3{
    padding-top: 15px;
}

.apikey-input{
    height: 25px;
    font-size: 15px;
    width: auto;
}

button{
    background: deepskyblue;
    color: white;
    min-width: auto;
}

.apikey-input:disabled{
    color: black;
}

.done{
    margin-left: 15px;
    color: green;
}

.error{
    margin-left: 15px;
    color: red;
}

.form-error{
    margin-left: 5px;
    margin-right: 10px;
    min-width: max-content;
}
