.mat-tab-group {
    margin-bottom: 48px;
}

.container{
    margin-top: 30px;
    margin-left: 1em;
}

.content{
    padding-left: 20px;
}

.data{
    display:flex;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.apikey-input, .hide-button, .email-label, .name-label, .total{
    margin-left: 15px;
}

h3{
    padding-top: 15px;
}

.apikey-input{
    height: 25px;
    font-size: 15px;
}

.hide-button{
    background: deepskyblue;
    color: white;
}

input:disabled{
    color: black;
}
