.content{
    width: auto;
    display: flex;
    align-items: center;
    background-color: deepskyblue;
    color: white;
    height: 10%;
    min-height: 30px;
}

.logo{
    padding-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
}

.change-lenguaje{
    right: 0;
    position: fixed;
    margin-right: 10px;
}

a{
    padding-right: 10px;
}