.content{
    width: auto;
    display: flex;
    align-content: center;
    background-color: deepskyblue;
    color: white;
    height: auto;
}

.logo{
    padding-left: 1%;
    font-family: Arial, Helvetica, sans-serif
}